* {
  margin: 0;
  padding: 0;
}

#add-event-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem 2rem 2rem 0;
  width: 50%;
}

#add-event-container > div {
  margin: 0rem 2rem 2rem 0;
}

#add-event-container > div:last-child {
  margin: 0rem 2rem 2rem 0;
}

#month-select-container,
#day-select-container {
  transform: translateY(0.55rem);
}
