.comment-container {
  margin-top: 1rem;
}

.comment-header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-header h4 {
  font-size: 0.7rem;

  /* prevents text overflow */
  word-wrap: break-word;
  min-width: 1%;
}

.comment-header p {
  color: #aaaaaa;
  font-size: 0.7rem;

  /* prevents text overflow */
  word-wrap: break-word;
  white-space: nowrap;
  min-width: 1%;
}

.comment-body {
  margin: 0.7rem 0rem;

  /* prevents text overflow */
  word-wrap: break-word;
  min-width: 1%;
}

.comment-button-container {
  display: flex;
  justify-content: flex-end;
}

#comment-button {
  background-color: #ff4136;
  color: white;
}
