* {
  margin: 0;
  padding: 0;
}

/* #edit-event-close-button {
  display: none;
} */

#edit-event-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem 2rem 2rem 0;
}

#edit-event-buttons-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#edit-event-buttons-container #edit-event-close-button,
#edit-event-go-back-button,
#edit-event-update-button {
  margin: 0rem 0.5rem;
}

#edit-event-container > div {
  margin: 0rem 2rem 2rem 0;
}

#edit-event-container > div:last-child {
  margin: 0rem 2rem 2rem 0;
}

#month-select-container,
#day-select-container {
  transform: translateY(0.55rem);
}

@media only screen and (max-width: 767px) {
  #edit-event-close-button {
    display: block;
  }

  #edit-event-go-back-button {
    display: none;
  }
}
