*:focus {
  outline: 0 !important;
}

#landing {
  background-image: url(../components/assets/miTeamsBackground.png);
  height: 100vh;
}

#landing-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#landing-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 350px;
}

.landing-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.meetings-button {
  padding: 3rem;
}

.groups-button {
  padding: 3rem;
}

.messages-button {
  padding: 3rem;
}

@media (max-width: 574px) {
  .landing-buttons {
    flex-direction: column;
    transform: translateY(2rem);
  }

  .messages-button,
  .meetings-button,
  .groups-button {
    padding: 1rem;
  }
}

@media (max-width: 450px) {
  #landing-image {
    min-width: 250px;
  }
}
