#posts {
  width: 50%;
  margin: auto;
  margin-top: 2rem;
}

.post {
  margin-top: 2rem;
  padding: 2rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-date {
  color: #aaaaaa;
  font-size: 0.7rem;
}

.post-name {
  font-size: 0.7rem;
}

.post-body {
  margin: 0.7rem 0rem;
}

.like-button {
  background-color: transparent;
  border: none;
  color: #dddddd; /* Fallback for older browsers */
  color: rgba(170, 170, 170, 0.5);
  outline: thick;
}

.like-button i {
  transition: 0.5s;
}

.number-of-likes-text {
  color: #001f3f;
}

#delete-post-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff4136;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#comments-button {
  background-color: #001f3f;
  font-size: 0.7rem;
}

#number-of-comments {
  font-size: 0.8rem;
}

.number-of-comments-text {
  font-size: 0.8rem;
}

#number-of-likes {
  color: #ff4136;
  text-shadow: 1px 1px 2.5px black;
  transition: 0.5s;
}
