#posts {
  width: 50%;
  max-width: 100rem;
  margin: auto;
  margin-top: 2rem;
}

.post {
  /* position: relative needed to position delete button in top right of post */
  position: relative;
  margin-top: 2rem;
  padding: 2rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-date {
  color: #aaaaaa;
  font-size: 0.7rem;
  white-space: nowrap;
  margin-left: 0.5rem;
}

.post-name {
  font-size: 0.7rem;

  /* prevents text overflow */
  word-wrap: break-word;
  min-width: 1%;
}

.post-body {
  margin: 0.7rem 0rem;
  word-wrap: break-word;
}

.like-button {
  background-color: transparent;
  border: none;
  color: #dddddd; /* Fallback for older browsers */
  color: rgba(170, 170, 170, 0.5);
  outline: thick;
}

.like-button i {
  transition: 0.5s;
}

.number-of-likes-text {
  color: #001f3f;
}

#delete-post-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ff4136;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.6rem;
  cursor: pointer;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#comments-button {
  background-color: #001f3f;
  font-size: 0.7rem;
}

#number-of-comments {
  font-size: 0.8rem;
}

.number-of-comments-text {
  font-size: 0.8rem;
}

.number-of-likes {
  color: #001f3f;
  font-size: 0.7rem;
}

@media only screen and (max-width: 924px) {
  #posts {
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  #posts {
    width: 30rem;
  }
}

@media only screen and (max-width: 700px) {
  #posts {
    width: 25rem;
  }
}

@media only screen and (max-width: 550px) {
  #posts {
    width: 20rem;
  }
}

@media only screen and (max-width: 420px) {
  #posts {
    width: 80%;
  }
}
