.team-calendar-container {
  margin: auto;
  width: 85%;
  height: 50%;
  overflow-y: hidden;
}

.schedule-event-card {
  margin: 1rem;
}

#events-list-container {
  display: none;
}

#current-schedule-name {
  font-size: 3rem;
  padding: 2rem 0rem 0rem 0rem;
}

#schedule-button-group {
  padding: 2rem 0;
}

#change-schedule-name-container {
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 2rem 2rem 0;
  width: 50%;
}

#room-key-container {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#room-key-container #room-key-button {
  margin: 0rem 0rem 0rem 2rem;
}

#delete-schedule-container {
  margin: 2rem 0rem;
}

@media only screen and (max-width: 767px) {
  #room-key-container {
    flex-direction: column;
  }

  #room-key-container #room-key-button {
    margin: 1rem 0rem 0rem 1rem;
  }
}

@media only screen and (max-width: 767px) {
  #large-display-calendar-container {
    display: none;
  }

  #events-list-container {
    display: block;
  }
}

#event-content-container {
  padding: 2rem;
}

#simple-dialog-title {
  font-size: 4rem;
}

#close-selected-event-button {
  margin: 1rem 0 2rem 0;

  padding: 10px 25px;
  margin: auto;
}
