.team-calendar-container {
  margin: auto;
  width: 85%;
  height: 50%;
  overflow-y: hidden;
}

#current-schedule-name-responsive {
  display: none;
}

#current-schedule-name {
  font-size: 3rem;
}

@media only screen and (max-width: 767px) {
  #current-schedule-name-responsive {
    display: block;
  }
  .team-calendar-container {
    display: none;
  }
}
